
WPF/.vs/Adatkarbantartas/FileContentIndex/e8dcf17a-59b6-43e0-b65a-45b7a5749027.vsidx
WPF/.vs/Adatkarbantartas/FileContentIndex/f1c8ebe0-4b43-4feb-91f6-d53969d688d5.vsidx
WPF/.vs/Adatkarbantartas/FileContentIndex/5dc7cca8-bb0b-4eb1-9982-a032eb10d68f.vsidx
backend/.vs/backend/FileContentIndex/1fd70615-a968-46f8-967e-61ec272ea7bc.vsidx
backend/.vs/backend/FileContentIndex/3276ca44-1e8e-4ec0-8ec2-78fdd143bc12.vsidx
backend/.vs/backend/FileContentIndex/7be50ac8-d4d4-4d89-b6a9-ba9e448866b6.vsidx
backend/.vs/backend/FileContentIndex/850b1f9c-8fa4-4fd5-b9f9-3a1dd1aaa050.vsidx
backend/.vs/backend/FileContentIndex/c2120a73-80a3-49de-bad8-4a3da951d688.vsidx
